.modal__controler{
    border: none;
}

.modal__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 278px;
    background-color: rgba(255, 255, 255, 0.95);
    color: #00000050;
}

.modal__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.modal__title{
    align-self: flex-start;
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
}

.modal__message, .modal__span{
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
}

.modal__email, .modal__password, .modal__name, .modalBtn__registerLogin, .modalBtn__registerReturn, .modal__level{

    min-width: 98%;
    width: 280px;
    height: 46px;
    max-height: 52px;
    font-size: 18px;
    font-weight: 400;

}

.modalBtn__registerLogin, .modalBtn__registerReturn, .modal__level{

    min-width: 98%;
    width: 288px;
    height: 52px;
    font-size: 18px;
    font-weight: 400;

}

.modalBtn__registerLogin{

    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
    transition: 1s;

}

.modalBtn__registerLogin:hover{

    background-color: var(--blue);
    border-color: var(--white);
    color: var(--white);

}

.modalBtn__registerReturn{
    
    background-color: var(--white);
    border-color: var(--blue);
    color: var(--blue);
    transition: 1s;

}

.modalBtn__registerReturn:hover{

    background-color: var(--blue);
    border-color: var(--white);
    color: var(--white);

}


.modal__email::placeholder, .modal__password::placeholder, .modal__name::placeholder, .modal__level{

    color: #00000050;
    background-color: var(--white);

}






/* ****************************************** */

@media(min-width: 769px){

    .modal__container{
        width: 509px;
        height: 519px;
    }

    .modal__email, .modal__password, .modal__name, .modalBtn__login, .modalBtn__register, .modalBtn__return, .modal__level{

        width: 503px;
        height: 46px;

    }

    .modalBtn__login, .modalBtn__register, .modalBtn__return, .modal__level{

        width: 511px;
        height: 52px;

    }

}

